<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionOptions" value="Data Source=(localdb)\\MSSQLLocalDB; Initial Catalog=blog_db_test; Integrated Security=True"/>
    <add key="Source" value="..\..\..\ProcessedFiles\"/>
    <add key="Target" value="..\..\..\UnprocessedFiles\"/>
    <add key="Pattern" value="*.csv"/>
  </appSettings>

</configuration>