@using System.Globalization
@model ProductOrdersViewModel
@{
    ViewData["Title"] = "Список продаж";
    //Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Список продаж товаров</h1>
</div>
<br />
<form class="form-inline">
    <label>Выберите товар:</label>
    <select name="productsId" class="form-control">
        @foreach (var product in Model.Products)
        {
            <option value="@product.Id">@product.Name</option>
        }
    </select>
    <input type="submit" id="confirm" />
</form>
<br />
<div id="results"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#confirm').click(function (e) {
            e.preventDefault();
            var name = $('#productsId').val();
            name = encodeURIComponent(name);
            $('#results').load("http://localhost:51805/Home/BookSearch?name=" + name);
        });
    });
</script>

@{await Html.RenderPartialAsync("OrdersPartialView", Model);}