@using System.Globalization
@model ClientOrdersViewModel
@{
    ViewData["Title"] = "Список покупок";
    //Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Список покупок клиентов</h1>
</div>
<br />

<form class="form-inline">
    <label>Выберите клиента:</label>
    <select name="clientId" class="form-control">
        @foreach (var client in Model.Clients)
        {
            <option value="@client.Id">@client.Name</option>
        }
    </select>
    <input type="submit" />
</form>
<br />

@{await Html.RenderPartialAsync("OrdersPartialView", Model);}